* {
    box-sizing: border-box;
  }
.toparea{
    
    background: fixed;
    background-color: #887694;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
.toparea1{ 
  background: fixed;
  background-color: white;
  text-align: center;
  
}
.navbar {
    overflow: hidden;
    background-color: rgb(20, 4, 93);
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a.split {
    float: right;
    color: white;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #887694;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  /* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #about {
    top: 200px;
    background-color: #32b4f1;
  }
  
  #blog {
    top: 260px;
    background-color: #4020dd; /* Blue */
  }
  
  #projects {
    top: 320px;
    background-color: #bb554e; /* Red */
  }
  
  #contact {
    top: 380px;
    background-color: rgb(145, 129, 129) /* Light Black */
  }
 .mySidenav{
    position: absolute;
 }
 
  
  .navbar a:hover {
    border-bottom: 3px solid red;
  }
  
  .navbar a.active {
    border-bottom: 3px solid red;
  }
  .background {
    position: relative;
  }
  
  /* Bottom right text */
  .text{
    position: absolute;
    bottom: 330px;
    left: 20px;
    color: white;
    font-size: x-large;
    padding-left: 50px;
    padding-right: 20px;
   
    
  }
  
.brands{
    color: black;
    margin-left: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table,tr,td{
    border: 1px solid rgb(210, 192, 192);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.price{
    margin-left: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
  text-align: center;
 margin-left: -150px;
}
li{
  display: inline-block;
  padding: 12px;
  margin-top: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  background-color: whitesmoke; 
}
ul li:hover{
  background-color: rgb(251, 253, 253);
}
ul li:hover {
  border-bottom: 3px solid red;
}
/* Dropdown Button */
.dropbtn22 {
  background-color: #dae7e2;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight: larger;
}

/* The container <div> - needed to position the dropdown content */
.dropdown11 {
  position: relative;
  display: inline-block;
  margin-left: 260px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content33 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

/* Links inside the dropdown */
.dropdown-content33 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content33 a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown11:hover .dropdown-content33 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown11:hover .dropbtn22 {background-color: #b0c2b2;}

.dropdown111{
  position: relative;
  display: inline-block;
  margin-left: 0px;
}

/* Show the dropdown menu on hover */
.dropdown111:hover .dropdown-content33 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown111:hover .dropbtn22 {background-color: #b0c2b2;}

.dropdown1111{
  position: relative;
  display: inline-block;
  margin-left: 0px;
}
/* Show the dropdown menu on hover */
.dropdown1111:hover .dropdown-content33 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1111:hover .dropbtn22 {background-color: #b0c2b2;}

.launched{
  margin-left: 250px;
  margin-bottom: 10px; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.new{
  margin-left: 210px;
  

}
.foot{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(4, 4, 78);
  padding: 10px;
}
.ft{
    padding: 50px;
    text-decoration: none;
    font-size: large;
   
    color: white;
}
.veh{
  text-decoration: none;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  font-weight: bold;
}
.ab{text-decoration: none;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
   font: bold;
}
.scooter{
  margin-left: 245px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:larger ;
}
.new1{
  margin-left: 210px;
}



